<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Request</title>
  <link rel="stylesheet" href="/css/request_event.styles.css"> <!-- Update the path as needed -->
</head>

<body>
  <!-- Header -->
  <header>
    <nav class="navbar">
      <div class="navbar-brand">
        <a href="/" class="logo-link"><span class="logo-text">Turtle Shelter Project</span></a>
      </div>
      <div class="navbar-collapse">
        <ul class="main-menu">
          <li><a href="/request_event">Request Event</a></li>
          <li><a href="/jens_story">Jen's Story</a></li>
          <li><a href="/our_tech">Our Tech</a></li>
          <li><a href="/login">Admin Login</a></li>
          <li><button class="btn-secondary" onclick="location.href='/get_involved'">Get Involved</button></li>
          <li><button class="btn-secondary" onclick="location.href='/donate'">Donate</button></li>
        </ul>
      </div>
    </nav>
  </header>



  <!-- Footer -->
  <footer>
    <div class="footer">
      <p>&copy; 2024 Turtle Shelter Project. All rights reserved.</p>
    </div>
  </footer>
</body>

</html>
