<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creating a World | EOCI</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="/" class="logo-link"><span class="logo-text">Turtle Shelter Project</span></a>
            </div>
            
            <div class="navbar-collapse">
                <ul class="main-menu">
                    <li><a href="/request_event">Request Event</a></li>
                    <li><a href="/jens_story">Jen's Story</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><button class="btn-secondary" onclick="location.href='/get_involved'">Get Involved</button></li>
                    <li><button class="btn-secondary" onclick="location.href='/donate'">Donate</button></li>
                </ul>
            </div>
        </nav>
    </header>
    

    <main>
        <section class="hero">
            <img src="images/turtleshelterproject_home.jpg" alt="Creating a World">
            <div class="hero-text">
                <h2>Creating a World</h2>
                <p>Where every child has the opportunity to succeed</p>
                <div class="button-group">
                    <button class="btn-primary">Donate</button>
                    <button class="btn-secondary">Take Action</button>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="welcome">
                <h2>Welcome to Equal Opportunity</h2>
                <p>The Equal Opportunity Community Initiative (EOCI) is committed to improving the quality of life of vulnerable children both locally and internationally.</p>
                <img src="images/minky_logo.jpeg" alt="Map">
            </div>
            <div class="cards">
                <div class="card">
                    <h3>The Issue</h3>
                    <p>For so many children and youth in poverty, childhood can be incredibly difficult.</p>
                    <button>Learn More</button>
                </div>
                <div class="card">
                    <h3>Our Work</h3>
                    <p>One in four children lives in poverty. We’re working hard every day to change that.</p>
                    <button>Learn More</button>
                </div>
                <div class="card">
                    <h3>Our Impact</h3>
                    <p>We’ve worked with over 250,000 children and mobilized 10,000 volunteers to take action.</p>
                    <button>Learn More</button>
                </div>
            </div>
        </section>
        <!-- Carousel Section -->
    <section class="carousel">
        <div class="carousel-container">
            <div class="carousel-slide">
                <img src="images/chance_logo.jpg" alt="Image 1">
            </div>
            <div class="carousel-slide">
                <img src="images/design_logo.jpeg" alt="Image 2">
            </div>
            <div class="carousel-slide">
                <img src="images/foam_logo.jpeg" alt="Image 3">
            </div>
        </div>
        <button class="carousel-prev" aria-label="Previous slide">&#10094;</button>
        <button class="carousel-next" aria-label="Next slide">&#10095;</button>
    </section>

    </main>

    <footer>
        <div class="footer">
            <div class="contact">
                <h2>Contact</h2>
                <p>Phone: +1905-830-0413</p>
                <p>Email: info@equalopp.org</p>
            </div>
            <div class="links">
                <ul>
                    <li><a href="/about_us">About Us</a></li>
                    <li><a href="/get_involved">Get Involved</a></li>
                    <li><a href="/privacy_policy">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <p>&copy; 2019 Equal Opportunity Community Initiative. All Rights Reserved.</p>
    </footer>
    <script src="js/app.js"></script>
</body>
</html>
