<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turtle Shelter Project</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="/" class="logo-link">
                    <i class="fas fa-home"></i> <!-- Home icon -->
                    <span class="logo-text">Turtle Shelter Project</span>
                </a>
            </div>
            
            <div class="navbar-collapse">
                <ul class="main-menu">
                    <li><a href="/request_event">Request Event</a></li>
                    <li><a href="/jens_story">Jen's Story</a></li>
                    <li><a href="/our_tech">Our Tech</a></li>
                    <li><button class="btn-secondary" onclick="location.href='/get_involved'">Get Involved</button></li>
                    <li><button class="btn-secondary" onclick="location.href='/donate'">Donate</button></li>
                     <!-- Conditionally show icon based on isAdmin -->
                     <% if (isAdmin) { %>
                        <div class="circle-icon" onclick="toggleLogout()">J</div> <!-- Circle icon with the initial J -->
                        <div id="logout-option" class="logout-option">
                            <!-- Link for Contact Messages and Sponsor Messages -->
                            <a href="/messages" class="logout-link"><b>Messages</b></a>
                            
                            <!-- Link for Help file (basically the readme to walk Jen through the page if she has questions)-->
                            <a href="/help" class="logout-link"><b>Help</b></a>
                            
                            <!-- Link for Logout -->
                            <a href="/logout" class="logout-link" onclick="logout()"><b>Logout</b></a>
                        </div>
                    <% } else { %>
                        <li><a href="/login">Login</a></li>
                    <% } %>
                    <div class="navbar-toggler">
                        <i style="font-size: x-large;"class="fas fa-bars"></i> <!-- Hamburger icon -->
                    </div>
                </ul>
            </div>
                <div class="sidebar" id="sidebar">
                    <!-- Close button -->
                    <button class="close-btn" onclick="toggleSidebar()">×</button>
                    <!-- Sidebar Links -->
                    <ul class="sidebar-links">
                        <li><a href="#contact-us-form">Contact Us</a></li>
                        <li><a href="/faqs">FAQs</a></li>
                        <li><a href="/sponsor_us">Sponsor Us</a></li>
                        <li><a href="/upcoming_events">Upcoming Events</a></li>
                        <% if (isAdmin) { %>
                            <li><a href="/requested_events"><b>Requested Events</b></a></li>
                            <li><a href="/event_dashboard"><b>Event Dashboard</b></a></li>
                            <li><a href="/completed_events"><b>Completed Events</b></a></li>
                            <li><a href="/volunteers"><b>Volunteers</b></a></li>
                        <% } %>
                    </ul>
                </div>
        </nav>
    </header>
    

    <main>
        <section class="hero">
            <div class="hero-overlay"></div> 
            <img src="images/smiling_homeless2.jpg" alt="Creating a World">
            <div class="hero-text">
                <h2>EVERY LIFE HAS VALUE<br>EVERY PERSON CAN SERVE</h2>
                <div class="button-group">
                    <button class="btn-primary-hero" onclick="location.href='/donate'">
                        <i class="fas fa-heart"></i> Donate
                    </button>
                    
                    <button class="btn-secondary-hero" onclick="location.href='/get_involved'">
                        <i class="fas fa-hands-helping"></i> Volunteer
                    </button>
                </div>
            </div>
        </section>
        
        <section class="content">
            <div class="welcome">
                <h2>What is the Turtle Shelter Project?</h2>
                <p>Every winter, thousands of homeless individuals face life-threatening cold. We have a solution: a portable, lightweight shelter that can be carried like a turtle’s shell.
                    Crafted with advanced foam technology, the vest traps body heat, providing warmth and protection from hypothermia and frostbite in freezing temperatures.
                    By volunteering to help craft these vests, you’re not just providing warmth – you’re giving hope to those without a home. Every vest you help distribute could save a life. Be the difference between survival and suffering this winter.</p>
            
                <!-- Container for the dynamic images -->
                <div id="welcome-image-container">
                    <img id="dynamic-image" class="large-image" src="images/service_group.jpg" alt="Map">
                </div>
            
                <button class="welcome-button" onclick="location.href='/request_event'">
                    <b>Every person can serve! Host an event and start saving lives today!</b>
                </button>
            </div>
            
            <div class="cards">
                <div class="card">
                    <img src="images/man_in_vest.jpg" alt="Image illustrating the issue" class="card-image">
                    <h3>The Issue</h3>
                    <p>700 people experiencing or at risk of homelessness are killed from hypothermia annually in the United States. Our vests help protect against temperatures as low as -10°F and save lives.</p>
                    <a href="/jens_story" style="display: flex; justify-content: center; align-items: center; text-decoration: none; width: 100%;">
                        <button class="donate-button">Our Story</button>
                    </a>
                    
                </div>
            
                <div class="card">
                    <img src="images/working.jpg" alt="Image illustrating the issue" class="card-image">
                    <h3>Our Work</h3>
                    <p>We craft and distribute high-tech foam vests that provide warmth in freezing temperatures, saving lives and restoring hope.</p>
                    <a href="/our_tech" style="display: flex; justify-content: center; align-items: center; text-decoration: none; width: 100%;">
                        <button class="donate-button" onclick="window.location.href='/our_tech';">
                            Learn More
                        </button>
                        
                    </a>
                </div>
            
                <div class="card">
                    <img src="images/women_in_vests.jpg" alt="Image illustrating the issue" class="card-image">
                    <h3>Our Impact</h3>
                    <p>We’ve delivered over 5,900 vests to those in need and mobilized thousands of volunteers to take action. Join us today and help make a difference.</p>
                    <div class="button-container" style="display: flex; justify-content: center;">
                        <button style="align-self: center;" class="donate-button" onclick="location.href='/how_to_get_involved'">Get Involved</button>
                    </div>
                    
                </div>
            </div>
        </section>
        <section class="take-action">
            <div class="hero-overlay"></div> 
            <img src="images/smiling_homeless.jpg" alt="Creating a World">
            <div class="hero-text">
                <h2>EVERY LIFE HAS VALUE<br>EVERY PERSON CAN SERVE</h2>
                <div class="button-group">
                    <button class="btn-primary-hero" onclick="location.href='/donate'">
                        <i class="fas fa-heart"></i> Donate
                    </button>
                    <button class="btn-secondary-hero" onclick="location.href='/get_involved'">
                        <i class="fas fa-hands-helping"></i> Volunteer
                    </button>
                </div>
            </div>
        </section>
        <!-- Sponsors Section -->
<section class="sponsors">
    <h2>Thank You to Our Sponsors</h2>

    <div class="sponsor-nav left-arrow">&#10094;</div> <!-- Left Arrow -->
    <div class="sponsors-container">
        <div class="sponsor-logo">
            <a href="https://www.futurefoam.com/" target="_blank">
                <img src="images/foam_logo.jpeg" alt="Sponsor 1">
            </a>
        </div>
        <div class="sponsor-logo">
            <a href="https://www.softminkyblankets.com/" target="_blank">
                <img src="images/minky_logo.jpeg" alt="Sponsor 2">
            </a>
        </div>
        <div class="sponsor-logo">
            <a href="https://www.owfinc.com/" target="_blank">
                <img src="images/wilderness_logo.png" alt="Sponsor 3">
            </a>
        </div>
        <div class="sponsor-logo">
            <a href="https://www.goodshepherdogden.org/" target="_blank">
                <img src="images/goodshep_logo.png" alt="Sponsor 4">
            </a>
        </div>
        <div class="sponsor-logo">
            <a href="http://www.givemeachanceutah.org/" target="_blank">
                <img src="images/chance_logo.jpg" alt="Sponsor 5">
            </a>
        </div>
        <div class="sponsor-logo">
            <a href="https://www.cheneybrothersconstruction.com/" target="_blank">
                <img src="images/cheney_logo.jpeg" alt="Sponsor 6">
            </a>
        </div>
        <div class="sponsor-logo">
            <a href="https://designsourceslc.com/" target="_blank">
                <img src="images/design_logo.jpeg" alt="Sponsor 7">
            </a>
        </div>
        <!-- Add more logos as needed -->
    </div>
    
    <div class="sponsor-nav right-arrow">&#10095;</div> <!-- Right Arrow -->
</section>
<h1 class="form-header" id="contact-us-form">Contact Us</h1>
    <form action="/submit-contact" method="POST" class="event-form">
        <!-- Form Row 1 -->
        <div class="form-row">
            <div class="form-group">
                <label for="firstName" class="form-label">First Name:</label>
                <input type="text" id="firstName" name="firstName" class="form-input" required>
            </div>
            <div class="form-group">
                <label for="lastName" class="form-label">Last Name:</label>
                <input type="text" id="lastName" name="lastName" class="form-input" required>
            </div>
        </div>

        <!-- Form Row 2 -->
        <div class="form-row">
            <div class="form-group">
                <label for="phone" class="form-label">Phone:</label>
                <input type="tel" id="phone" name="phone" class="form-input" required>
            </div>
            <div class="form-group">
                <label for="email" class="form-label">Email:</label>
                <input type="email" id="email" name="email" class="form-input" required>
            </div>
        </div>

        <!-- Form Row 3 -->
        <div class="form-row">
            <div class="form-group">
                <label for="city" class="form-label">City:</label>
                <input type="text" id="city" name="city" class="form-input" required>
            </div>
            <div class="form-group">
                <label for="state" class="form-label">State:</label>
                <input type="text" id="state" name="state" class="form-input" required>
            </div>
        </div>

        <!-- Form Row 4 (Tell us about how you want to make a difference) -->
        <div class="form-row">
            <div class="form-group">
                <label for="message" class="form-label">Tell us about how you want to make a difference:</label>
                <textarea id="message" name="message" class="form-textarea" rows="4" required></textarea>
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="submit-btn">Submit</button>
    </form>
    </main>

    <footer>
        <div class="footer">
            <!-- Contact Information -->
            <div class="contact">
                <h2>Connect with Us!</h2>
                <p>Phone: 801-872-3190</p>
                <p>Email: turtleshelterproject@gmail.com</p>
                <p>Address: PO Box 382, Kaysville, UT 84037</p>
            </div>
    
            <!-- Social Media Links (Icons) -->
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/turtle-shelter-project-6aa0aa1a4/" target="_blank" class="social-icon">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://www.instagram.com/turtleshelterproject/" target="_blank" class="social-icon">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/turtleshelterproject" target="_blank" class="social-icon">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
    
            <!-- Copyright Text -->
            <p>&copy; 2024 Turtle Shelter Project. All Rights Reserved.</p>
        </div>
    </footer>
    
    
    <script src="js/app.js"></script>
</body>
</html>
