<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/loginstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="login-body" >
    <header>
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="/" class="logo-link">
                    <i class="fas fa-home"></i> <!-- Home icon -->
                    <span class="logo-text">Turtle Shelter Project</span>
                </a>
            </div>
            <div class="navbar-collapse">
                <ul class="main-menu">
                    <li><a href="/request_event">Request Event</a></li>
                    <li><a href="/jens_story">Jen's Story</a></li>
                    <li><a href="/our_sponsors">Our Sponsors</a></li>
                    <li><a href="/login">Admin Login</a></li>
                    <li><button class="btn-secondary" onclick="location.href='/get_involved'">Get Involved</button></li>
                    <li><button class="btn-secondary" onclick="location.href='/donate'">Donate</button></li>
                    <div class="navbar-collapse">
                        <i style="font-size: x-large;"class="fas fa-bars"></i> <!-- Hamburger icon -->
                    </div>
                </ul>
            </div>
        </nav>
    </header>

    <div class="login-container">
        <div class="login-image">
            <img src="/images/loginimg.jpg" alt="Login Side Image">
        </div>
        <div class="login-form">
            <h2>Welcome Back</h2>
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="btn-primary" onclick="window.location.href='/admin';">
                    Log In
                </button>
                
            </form>
        </div>
    </div>
</body>
</html>
