<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Tech</title>
    <link rel="stylesheet" href="/css/ourtechstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="/" class="logo-link">
                    <i class="fas fa-home"></i> <!-- Home icon -->
                    <span class="logo-text">Turtle Shelter Project</span>
                </a>
            </div>
            
            <div class="navbar-collapse">
                <ul class="main-menu">
                    <li><a href="/request_event">Request Event</a></li>
                    <li><a href="/jens_story">Jen's Story</a></li>
                    <li><a href="/our_tech">Our Tech</a></li>
                    <li><button class="btn-secondary" onclick="location.href='/how_to_get_involved'">Get Involved</button></li>
                    <li><button class="btn-secondary" onclick="location.href='/donate'">Donate</button></li>
                     <!-- Conditionally show icon based on isAdmin -->
                     <% if (isAdmin) { %>
                        <div class="circle-icon" onclick="toggleLogout()">J</div> <!-- Circle icon with the initial J -->
                        <div id="logout-option" class="logout-option">
                            <!-- Link for Contact Messages and Sponsor Messages -->
                            <a href="/messages" class="logout-link"><b>Messages</b></a>
                            
                            <!-- Link for Help file (basically the readme to walk Jen through the page if she has questions)-->
                            <a href="/help" class="logout-link"><b>Help</b></a>
                            
                            <!-- Link for Logout -->
                            <a href="/logout" class="logout-link" onclick="logout()"><b>Logout</b></a>
                        </div>
                    <% } else { %>
                        <li><a href="/login">Login</a></li>
                    <% } %>
                    <div class="navbar-toggler">
                        <i style="font-size: x-large;"class="fas fa-bars"></i> <!-- Hamburger icon -->
                    </div>
                </ul>
            </div>
                <div class="sidebar" id="sidebar">
                    <!-- Close button -->
                    <button class="close-btn" onclick="toggleSidebar()">×</button>
                    <!-- Sidebar Links -->
                    <ul class="sidebar-links">
                        <li><a href="/#contact-us-form">Contact Us</a></li>
                        <li><a href="/faqs">FAQs</a></li>
                        <li><a href="/sponsor_us">Sponsor Us</a></li>
                        <li><a href="/upcoming_events">Upcoming Events</a></li>
                        <% if (isAdmin) { %>
                            <li><a href="/event_dashboard"><b>Event Dashboard</b></a></li>
                            <li><a href="/completed_events"><b>Completed Events</b></a></li>
                            <li><a href="/volunteers"><b>Volunteers</b></a></li>
                        <% } %>
                    </ul>
                </div>
        </nav>
    </header>

    <main>
        
        <section class="gen-story">
            <h2>What Is a Turtle Shelter Vest?</h2>

        <section class="quote-vest">
            <p> <em>A high tech but simple solution to help save lives -</em> </p>
            <p> <em>a portable "shelter" you can carry with you, just like a turtle...</em></p>
               <p> <em>and YOU can help!</em></p> 
               <br>
        </section>

            <div class="story-content">
                <div class="text-container1">
                    <p>
                        Foam clothing technology was invented by outdoor survival expert Jim Phillips. He has done extensive testing using <b>open-cell polyurethane foam as the insulation layer</b> in jackets, hoods, pants, boots, gloves, and sleeping bags.
                    </p>
                    <p>
                        Jim Phillips' foam clothing is brilliant technology because of what it can do to help save a person's life in freezing temperatures. The insulation layer foam clothing provides is so effective that even if a person gets wet it will keep them warm <b>-- BUT, wearing synthetic fabrics is an important layer to include with the foam clothing.</b> Foam clothing can be effective while wearing cotton if the wearer stays dry, but if the wearer gets wet, the cotton will absorb and hold water and keep the wearer cold.  If a person is not wearing any cotton with the foam clothing, and they happen to get wet, they will still be able to maintain their core body temperature.  The reason why this works is because the shell and lining fabrics and the foam are all synthetic and breathable - providing moisture wicking properties and allowing perspiration and other moisture to evaporate.
                    </p>
    
                    <p>
                        <b> Foam clothing dramatically reduces moisture as being a threat to a person's life in the cold! </b>
                    </p>
    
                    <p>
                        Foam clothing is marketed to emergency preparedness and extreme sports audiences because of its ability to keep you warm in winter conditions.  Being cold is one thing, but being cold and wet is miserable. Being cold, wet, and without shelter can be life threatening.                     </p>
    
                    <p>
                        This technology is usually sold in emergency preparedness venues and super expensive. It does make sense because the technology is super valuable that the clothing should cost a lot, but we disagree:  nobody likes to be cold and people function a lot better when they are not freezing to death!  So we created a foam vest that covers the core and we called the Turtle Shelter because it acts like a shelter and harnesses the wearer's body heat even while wet and even in freezing temperatures. 
                    </p>
    
                    <p>
                        <b>Jen's perspective:  Every life has value!</b> 
                        <br>
                            "Hearing about this technology in an emergency Preparedness venue provoked a lot of thought about how many homeless peoples lives could not only be saved but also improved by this technology? Emergency preparedness is all about people getting prepared for when disaster strikes...and it seems like to get prepared can be pretty pricey...but isn't a person who is homeless living in their emergency right this very moment? They are not waiting for disaster to strike because for them it already has and I know from experience that once the disaster of homelessness strikes it can be extremely hard to recover from it. For many it is far more than simply losing a home or a place to stay...for me and many others it was also about losing my confidence, my energy, my drive, and even my hope...I felt completely broken and defeated!
                    </p>
    
                    <p>
                        I remember how every simple task felt like an overwhelming obstacle but even more so when it was so cold I couldn't even think. Everything just felt harder when it was cold and wet and miserable...
                        I believe that this foam clothing can help relieve some of the suffering for anyone who is homeless and living in the cold...I believe it doesn't have to cost a lot to make these. Not for the homeless and not for our families...lives can be saved from this technology."
                    </p>
                </div>
            </div>

            <div class="video-container">
                <iframe 
                  width="80%" 
                  height="400" 
                  src="https://www.youtube.com/embed/51UNMu5S7Xw?autoplay=1&controls=0&rel=0&modestbranding=1&showinfo=0&mute=1&loop=1&playlist=51UNMu5S7Xw" 
                  title="The Turtle Shelter Project | America First Credit Union" 
                  frameborder="0" 
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                  referrerpolicy="strict-origin-when-cross-origin" 
                  allowfullscreen>
                </iframe>
              </div>
        </section>

        <!-- Footer Section -->
        <footer>
            <div class="footer">
                <!-- Contact Information -->
                <div class="contact">
                    <h2>Contact</h2>
                    <p>Phone: 801-872-3190</p>
                    <p>Email: turtleshelterproject@gmail.com</p>
                    <p>Address: PO Box 382, Kaysville, UT 84037</p>
                </div>
        
                <!-- Social Media Links (Icons) -->
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/turtle-shelter-project-6aa0aa1a4/" target="_blank" class="social-icon">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="https://www.instagram.com/turtleshelterproject/" target="_blank" class="social-icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.facebook.com/turtleshelterproject" target="_blank" class="social-icon">
                        <i class="fab fa-facebook"></i>
                    </a>
                </div>
        
                <!-- Copyright Text -->
                <p>&copy; 2024 Turtle Shelter Project. All Rights Reserved.</p>
            </div>
        </footer>

    </main>
    <script src="js/app.js"></script>
</body>
</html>